body {
    Background-color: #917b3d;
}

.one{
    Background-color: #4287f5;
    text-align: center;
Font-size: 28px;
}

.two{
Font-size: 27px;
color: #3decd2;
}
.Three {
    Font-size: 27px;
    color: #3decd2;
}
.Four {
    Font-size: 27px;
    color: #3decd2;
}
.Five {
    Font-size: 27px;
    color: #3decd2;
}
.six{
    Font-size: 27px;
    color: #3decd2;
}
.Seven {
    Font-size: 27px;
    color: #3decd2;
}
.Eight {
    Font-size: 27px;
    color: #3decd2;
}
.Nine {
    Font-size: 27px;
    color: #3decd2;
}
